@media only screen and (min-width:320px)
{
    .heading_image_section{
        background-image: url("Images/headingwallpaper.jpg");
        background-size: cover;
        width: 100%;
        height: 170px;
        border-top: 10px solid #00cc00;
    }
    .heading_image_section h2, .heading_image_section p{
        position: absolute;
        font-family: Ubuntu Medium;
        color: #ffffff;
        left: 83px;
        top: 121px;
        margin: 0;
    }

    .heading_image_section p{
        top: 148px;
        font-size: 13px;
        word-wrap: break-word;
        width: 230px;
    }
    .main_section{
        width: 100%;
        height: auto;
    }
    .main_section_common{
        font-family: Ubuntu Medium;
        float: left;
    }
    .main_section_common img{
        display: block;
        margin: 0 auto;
    }
    .main_section_common h3{
         margin:auto;
         text-align: center;
    }
    .main_section_common p{
        font-size: 13px;
        color: #696969;
        text-align: center;
    }
    .main_section:after{
        clear: both;
        display: table;
        content: "";
    }
    .clearfix{
        clear: both;
        display: table;
        content: "";
    }
    .notification_section{
        width: 100%;
        height: 460px;
        background-color: #E3E3E3;
        font-family: Ubuntu Medium;
    }
    .notification_common_section{
        width: 100%;
        height: auto;
        display: block;      /*To change for Desktop View*/
        float: left;
    }
    .notification_common_section::after{
        clear: both;
        display: none;
        content: "";
    }
    .videocontainer{
        height: 250px;
        width: 100%;
    }
    .notification_content h3{
        text-align: center;
    }
    .notification_content p{
        color: #808080;
        font-size: 13px;
        margin: 10px;
        text-align: center;
    }
    .notification_form{
        margin: 0 auto;
        position: relative;
        width: 60%;
    }
    .notification_form_email{
        border-radius: 20px 0 0 20px;
        height: 18px;
        padding: 5px;
    }
    .notify_button{
        position: absolute;
        border-radius: 0 20px 20px 0;
        background-color: #2DCC70;
        height: 32px;
        color: #ffffff;
        font-weight: bolder;
        top: 0;
        right: 0;
    }
    .lowersection{
        height: auto;
        width: 100%;
    }
    .lower_content{
        width: 100%;
        font-family: Ubuntu Medium;
    }
    .lower_content p{
        color: #808080;
        font-size: 13px;
        text-align: center;
    }
    /*.corousal_container{
        width: 100%;
    }
    .corousal_inner ul{
        padding: 10px;
        display: table;
        list-style: none;
    }
    .corousal_inner ul li{
        display: inline-block;
        padding: 5px
    }
    .corousal_inner_ul img{
        width: 52px;
    }*/
   
    .mediacontent h3{
        font-style: Ubuntu Medium;
        text-align: center;
    }
    .mediacontent p{
        font-family: Ubuntu Medium;
        text-align: center;
        font-size: 13px;
        color: #808080;
    }
    .social_media{
        text-align: center;
        vertical-align: center;
    }
    .social_media a{
        cursor: pointer;
    }
    .logo{
        height: 28px;
        width: 28px;
        display:inline-block;
        border-radius: 50%;
        margin: 6px;
    }


    .twitter{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -353px 265px;
    }
    .in{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: 178px 183px;
    }
    .youtube{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -434px 263px;
    }
    .git{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -515px 64px;
    }
    .twitter:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -67px 265px;
    }
    .google-plus{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -393px 265px;
        
    }
    .google-plus:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -108px 265px;
        
    }
    .rss{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -393px 65px;
    }
    .rss:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -108px 65px;
    }
    .in:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -110px 184px;
    }
    .youtube:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -150px 263px;
    }
    .git:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -229px 64px;

    }
    .links_wrapper{
        width: 100%;
        height: 100px;
        background-color: #E3E3E3;
        text-align: center;
    }
    .contact_links{
        padding-top: 40px;
    }
    .contact_links a{
        font-family: Ubuntu Medium;
        text-decoration: none;
        padding: 5px;
        font-size: 13px;
        color: #696969;
    }
    .contact_links a:hover{
        color: orange;
    }
    .footer_section{
        width: 100%;
        height: 100px;
        padding-top: 20px;
        background-color: #1C1F26;
    }
    .footer_section h3{
        text-align: center;
        font-family: Ubuntu Medium;
        margin: 0;
        color: #ffffff;
        padding-top: 40px;
    }

}
@media only screen and (min-width:768px)
{
    .heading_image_section{
        height: 320px;
    }
    .heading_image_section h2{
        font-size: 40px;
        left: 220px;
        top: 145px;
    }
    .heading_image_section p{
        font-size: 24px;
        left: 220px;
        top: 230px;
        width: 400px;
    }
    .main_section_common{
        width: 100%;
    }
    .main_section_common h3{
        font-size: 30px;
    }
    .main_section_common p{
        font-size: 24px;
    }
    .notification_section{
        height: 800px;
    }
    .notification_section h3{
        font-size: 30px;
    }
    .notification_content p{
        font-size: 24px;
    }
    .videocontainer{
        width: 100%;
        height: 400px;
        padding-top: 40px;
    }
    .notification_form_email{
        width: 350px;
        height: 30px;
        font-size: 22px;
        padding: 5px;
    }
    .notify_button{
        width: 100px;
        height: 45px;
        font-size: 22px;
    }
}
@media only screen and (min-width:320px)
{
    .heading_image_section{
        background-image: url("Images/headingwallpaper.jpg");
        background-size: cover;
        width: 100%;
        height: 170px;
        border-top: 10px solid #00cc00;
    }
    .heading_image_section h2, .heading_image_section p{
        position: absolute;
        font-family: Ubuntu Medium;
        color: #ffffff;
        left: 83px;
        top: 121px;
        margin: 0;
    }

    .heading_image_section p{
        top: 148px;
        font-size: 13px;
        word-wrap: break-word;
        width: 230px;
    }
    .main_section{
        width: 100%;
        height: auto;
    }
    .main_section_common{
        font-family: Ubuntu Medium;
        float: left;
    }
    .main_section_common img{
        display: block;
        margin: 0 auto;
    }
    .main_section_common h3{
         margin:auto;
         text-align: center;
    }
    .main_section_common p{
        font-size: 13px;
        color: #696969;
        text-align: center;
    }
    .main_section:after{
        clear: both;
        display: table;
        content: "";
    }
    .clearfix{
        clear: both;
        display: table;
        content: "";
    }
    .notification_section{
        width: 100%;
        height: 460px;
        background-color: #E3E3E3;
        font-family: Ubuntu Medium;
    }
    .notification_common_section{
        width: 100%;
        height: auto;
        display: block;      /*To change for Desktop View*/
        float: left;
    }
    .notification_common_section::after{
        clear: both;
        display: none;
        content: "";
    }
    .videocontainer{
        height: 250px;
        width: 100%;
    }
    .notification_content h3{
        text-align: center;
    }
    .notification_content p{
        color: #808080;
        font-size: 13px;
        margin: 10px;
        text-align: center;
    }
    .notification_form{
        margin: 0 auto;
        position: relative;
        width: 60%;
    }
    .notification_form_email{
        border-radius: 20px 0 0 20px;
        height: 18px;
        padding: 5px;
    }
    .notify_button{
        position: absolute;
        border-radius: 0 20px 20px 0;
        background-color: #2DCC70;
        height: 32px;
        color: #ffffff;
        font-weight: bolder;
        top: 0;
        right: 0;
    }
    .lowersection{
        height: auto;
        width: 100%;
    }
    .lower_content{
        width: 100%;
        font-family: Ubuntu Medium;
    }
    .lower_content p{
        color: #808080;
        font-size: 13px;
        text-align: center;
    }
    /*.corousal_container{
        width: 100%;
    }
    .corousal_inner ul{
        padding: 10px;
        display: table;
        list-style: none;
    }
    .corousal_inner ul li{
        display: inline-block;
        padding: 5px
    }
    .corousal_inner_ul img{
        width: 52px;
    }*/
   
    .mediacontent h3{
        font-style: Ubuntu Medium;
        text-align: center;
    }
    .mediacontent p{
        font-family: Ubuntu Medium;
        text-align: center;
        font-size: 13px;
        color: #808080;
    }
    .social_media{
        text-align: center;
        vertical-align: center;
    }
    .social_media a{
        cursor: pointer;
    }
    .logo{
        height: 28px;
        width: 28px;
        display:inline-block;
        border-radius: 50%;
        margin: 6px;
    }


    .twitter{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -353px 265px;
    }
    .in{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: 178px 183px;
    }
    .youtube{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -434px 263px;
    }
    .git{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -515px 64px;
    }
    .twitter:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -67px 265px;
    }
    .google-plus{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -393px 265px;
        
    }
    .google-plus:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -108px 265px;
        
    }
    .rss{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -393px 65px;
    }
    .rss:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -108px 65px;
    }
    .in:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -110px 184px;
    }
    .youtube:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -150px 263px;
    }
    .git:hover{
        background-image: url('/home/akshay/Html5 Assignment/Images/mediaicons.jpg');
        background-position: -229px 64px;

    }
    .links_wrapper{
        width: 100%;
        height: 80px;
        background-color: #E3E3E3;
        text-align: center;
    }
    .contact_links{
        padding-top: 30px;
    }
    .contact_links a{
        font-family: Ubuntu Medium;
        text-decoration: none;
        padding: 5px;
        font-size: 13px;
        color: #696969;
    }
    .contact_links a:hover{
        color: orange;
    }
    .footer_section{
        width: 100%;
        height: 80px;
        padding-top: 10px;
        background-color: #1C1F26;
    }
    .footer_section h3{
        text-align: center;
        font-family: Ubuntu Medium;
        margin: 0;
        color: #ffffff;
        padding-top: 30px;
    }

}
@media only screen and (min-width:768px)
{
    .heading_image_section{
        height: 320px;
    }
    .heading_image_section h2{
        font-size: 51px;
        left: 220px;
        top: 140px;
    }
    .heading_image_section p{
        font-size: 24px;
        left: 220px;
        top: 232px;
        width: 400px;
    }
    .main_section_common{
        width: 100%;
    }
    .main_section_common h3{
        font-size: 30px;
    }
    .main_section_common p{
        font-size: 24px;
    }
    .notification_section{
        height: 900px;
    }
    .notification_section h3{
        font-size: 30px;
    }
    .notification_content p{
        font-size: 24px;
    }
    .videocontainer{
        width: 100%;
        height: 500px;
        padding-top: 40px;
    }
    .notification_form_email{
        width: 350px;
        height: 30px;
        font-size: 22px;
        padding: 5px;
    }
    .notify_button{
        width: 100px;
        height: 45px;
        font-size: 22px;
    }
    .lower_content p{
        font-size: 22px;
    }
    .mediacontent h3{
        font-size: 30px;
    }
    .mediacontent p{
        font-size: 22px;
    }
    .contact_links a{
        font-size: 22px;
        padding: 13px;
    }
    .footer_section h3{
        font-size: 30px;
    }
}

@media only screen and (min-width:1024px){

    .heading_image_section{
        height: 420px;
    }
    .heading_image_section h2{
        font-size: 55px;
        left: 280px;
        top: 200px;
    }
    .heading_image_section p{
        font-size: 31px;
        width: 600px;
        top: 300px;
        left: 280px;
    }
    .main_section_common h3{
        font-size: 35px;
    }
    .main_section_common p{
        font-size: 28px;
    }
    .notification_section{
        height: 950px;
    }
    .notification_form_email{
        width: 450px;
    }
    .notification_section h3{
        font-size: 35px;
    }
    .notification_content p{
        font-size: 28px;
    }
    .notify_button{
        width: 140px;
    }
    .videocontainer{
        height: 560px;
    }
    .lower_content p{
        font-size: 28px;
    }
    .mediacontent h3{
        font-size: 35px;
    }
    .mediacontent p{
        font-size: 28px;
    }
    .contact_links a{
        font-size: 28px;
        padding: 18px;
    }
    .footer_section h3{
        font-size: 35px;
    }
}

@media only screen and (min-width:1280px){

    .heading_image_section{
        height: 520px;
    }
    .heading_image_section h2{
        left: 350px;
        top: 250px;
    }
    .heading_image_section p{
        top: 371px;
        left: 350px;
    }
    .main_section_common{
        float: left;
        width: 33%;
    }
    .main_section_common h3{
        font-size: 25px;
    }
    .main_section_common p{
        font-size: 18px;
    }
    .notification_section{
        height: 450px;
    }
    .notification_common_section{
        float: left;
        width: 48%;
    }
    .notification_common_section h3{
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 40px;
    }
    .notification_common_section p{
        font-size: 18px;
        margin: 45px;
    }
    .videocontainer{
        width: 100%;
        height: 336px;
    }
    .notification_form_email{
        width: 257px
    }
    .notify_button{
        width: 100px;
    }
    .notification_wrapper{
        padding-top: 40px;
    }
    .lower_content p{
        font-size: 18px;
    }
    .mediacontent h3{
        font-size: 25px;
    }
    .mediacontent p{
        font-size: 18px;
    }
    .contact_links a{
        font-size: 18px;
    }
    .footer_section h3{
        font-size: 25px;
    }
}